body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: white;
  border: 1px solid;
  border-radius: 10px;
  border-color: #007bff;
  z-index: 10;
}

.footer span {
  width: 50%;
  float: left;
  padding: 10px;
  padding-left: 100px;
}

.footer button {
  float: right;
  width: 300px;
  position: absolute;
  right: 10px;
  bottom: 10px;
}

button.tabSwitch {
  color: white;
	float: right;
	position: fixed;
	bottom: 250px;
	right: 20px;
	z-index: 3;
}

.logo {
  height: 1.45em;
  float: left;
  margin-bottom: 0;
  margin-left: 0px;
}

.sideBar {
  float: left;
  width: 20%;
  height: 100%;
  margin: 0 auto;
  padding: 0px 1.0875rem 1.45rem;
  box-shadow: 1px 3px 5px black;
  position: fixed;
  background: whitesmoke;
  top: 61px;
  left: 0px;
  z-index: 2;
}

.mainContent {
  margin: 0 auto;
  padding-top: 65px;
  padding-left: 2px;
  position: fixed;
  top: 0px;
  right: 0px;
  float: right;
  width: 80%;
  height: 100%;
}

.coverImage {
  background-size: "100%";
  position: absolute;
  left: 0;
  top: 0;
	width: "100%";
  height: "100%";
  float: left;
  z-index: 0;
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
}

.box {
  width: 100px;
  height: 75px;
  background-color: whitesmoke;
  border-style: solid;
  border-width: 0.08em;
  border-radius: 0.1em;
  border-color: lightgrey;
  text-align: center;
  opacity: 1;
  box-shadow: 1px 1px 10px grey;
  z-index: 2;
}

.weatherPanel {
  width: 500px
}

.weatherImage {
  height: 100px;
  object-fit: cover;
  object-position: center;
  margin-bottom: 0;
}

.card-img-overlay h1 {
  color: white;
  font-size: 1.45rem;
  font-size-adjust: 100px;
  text-shadow: 0px 0px 10px black;
}

.red {
  color: #E74C3C
}

.blue {
  color: steelblue
}

.startupContent button {
  background-color: red;
  color: white;
}

.startupContent button:hover {
  background-color: green;
  color: white;
}

.journeySection {
  margin-right: 5px;
}

.arrivalHeader {
  background-color: seagreen;
  color: white;
  height: 50px;
  width: 300px;
  text-align: left;
  font-size: medium;
}

.departureHeader {
  background-color: tomato;
  color: white;
  height: 50px;
  width: 300px;
  text-align: left;
  font-size: medium;
}

.departureIcon,.arrivalIcon {
  margin-right: 10px;
}

.platform {
  margin-left: 10px;
  float: right;
}

.platformNumber {
  padding: 5px;
  border: solid;
  border-width: 1px;
  margin-left: 10px;
}

.time {
  float: left;
}

.arrowIcon {
  margin-left: 10px;
  margin-right: 10px;
}

.journeyForm {
  float: right;
  margin-bottom: 0px;
}

.journeyFormTitle {
  height: 3.25rem;
  width: 50%;
  margin-right: 0;
  float: left;
  padding: 0.75rem;
}

.navbar {
  display: block;
  font-family: sans-serif;
  box-shadow: 3px 1px 5px black;
  z-index: 3;
}

.header .nav-item {
  float: right;
  margin: 5px;
}

.nav-item button {
  color: black;
  background-color: transparent;
  border: none;
}

.nav-item button.disabled:hover {
  color: black;
  background-color: transparent;
  border: none;
}

.priceNav {
  padding-top: 10px;
  margin-top: 5px;
  border-top: solid;
  border-width: 0.5px;
  float: left;
  width: 100%
}

.priceNav .nav-item {
  float: left;
}

.trainCardHeader {
  padding-bottom: 13px;
}

.journeyButton {
  margin-right: 75px;
  height: 3em;
  vertical-align: top;
}

.react-datetime-picker__wrapper {
  border-radius: 0.25em;
  border-color: black;
  height: 3em;
  padding-left: 1em;
  padding-right: 1em;
}

.journeyPrice {
  color: rgb(82, 82, 82);
}

.sideBarButton {
  width: 85px;
}

.rangeInput {
  width: 85px;
}

.poiCategoryInput {
  min-width: 200px;
}

.markedPlaceMarker {
  color: darkorange;
}

.placeMarker {
  color: midnightblue;
}

.markedPOIMarker {
  color: darkgreen;
}

.POIMarker {
  color: darkblue;
}

.popupBadge {
  background-color: white;
}

.markerBadge {
  border: solid;
  border-color: grey;
  border-width: 1px;
  box-shadow: 0px 0px 4px grey;
}

.popupHeader {
  height: 50px;
  margin-bottom: 5px;
  border-bottom: solid;
  border-color: lightgray;
  border-width: 1px;
  width: 450px;
}

.popupFooter {
  height: 40px;
  margin-top: 5px;
  border-top: solid;
  border-color: lightgray;
  border-width: 1px;
  width: 450px;
}

.popupFooter button {
  margin-top: 10px;
  font-size: small;
}

.popupContent image {
  margin-bottom: 5px;
  width: 450px;
}

.popupContent p {
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 5px;
  font-size: small;
  padding: 0;
  width: 450px;
}

.title {
  width: 300px;
  margin-top: 15px;
  position: absolute;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.popup {
  width: 500px;
}

.searchContainer {
  width: 100%;
  height: 20%;
  margin-bottom: 20px;
}

.droppable {
  margin-top: 5%;
  height: 95%;
}

.draggable {
  height: 50px;
  width: 100%;
  margin-bottom: 15px;
  border-top: solid;
  border-bottom: solid;
  border-color: lightgray;
  border-width: 1px;
}

.draggable p {
  float: left;
  margin-top: 10px;
  margin-left: 10px;
}

.draggable svg {
  float: right;
  height: 50px;
  width: 50px;
}

.draggable button {
  float: left;
  font-size: small;
  height: 100%;
  margin-left: 10px;
}

.poiBadge {
  height: 100%;
  float: right;
  padding-top: 15px;
}

.poiPopover {
  max-width: 750px;
  height: 250px;
}

.poiListItem {
  width: 100%;
  background-color: none;
  max-height: 75px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 0px;
}

.poiListIcon {
  float: right;
  margin-right: 10px;
  margin-left: 10px;
}

.poiListItem span {
  font-size: medium;
  padding-left: 0px;
  margin-left: 0px;
}

.image {
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.image:hover {
  object-fit: scale-down;
  height: 100%;
}

.popupThumbnail {
  width: 450px;
  height: 100px;
}

.popupThumbnail:hover {
  height: 300px;
}

.wikiBody {
  height: 100%;
  margin-left: 25px;
  margin-top: 25px;
}

.wikiBody h1 {
  width: 100%;
  border-bottom: solid;
  border-color: lightGrey;
  border-width: 3px;
}

.wikiMainContent {
  height: 100%;
  width: 60%;
  float: left;
}

.wikiMainContent div {
  height: 75%;
  width: 700px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  border-style: solid;
  border-color: lightgray;
  border-radius: 3px;
  border-width: 1px;
  text-align: justify;
  position: absolute;
  left: 40%;
  transform: translate(-50%, 0%);
}

.wikiSideBar {
  height: 100%;
  width: 37%;
  margin-left: 3%;
  float: right;
}

.wikiSideBar img {
  height: 400px;
}

.wikiSideBar td:first-child {
  width: 200px;
}

.wikiSideBar table {
  width: 450px;
}

.wikiMainContent h2 {
  font-size: 1.45em;
}

.aboutContainer {
  margin-left: 10%;
  margin-right: 20%;
  margin-top: 1.45rem;
  padding: 20px;
  min-height: 800px;
  border: solid;
  border-color: black;
  border-width: 1px;
}

.aboutContainer p {
  padding-bottom: 20px;
  text-align: justify;
  text-indent: 0;
}

.aboutContainer h1 {
  font-size: xx-large;
}
